.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
margin-top: 80px;

}

.card {
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.card-image {
  height: 380px;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.card-text {
  color: #555;
}