/* Sección superior */

.details-card {
  width: 600px;
  max-width: 600px;
  margin-top: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.datos2 {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding: 25px 25px 15px 25px;
  color: black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.titulo-name2 {
  font-size: 24px;
  font-weight: bold;
  color: rgb(234, 178, 35);
}

.titulo2 {
  font-weight: bold;
}

.valor2 {
  margin-bottom: 10px;
}

.image2 {
  height: 320px;
  background-image: linear-gradient(to right, red, gold);
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
}

.image2 img.person2 {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  transition: transform 0.4s ease;
  object-fit: contain;
}

.image2:hover img.person2 {
  transform: scale(1.3);
}

/* Sección de transformaciones */
.details-transformations {
  max-width: 600px;
  background: linear-gradient(to bottom, black, gray);
  padding: 20px;
  border-radius: 10px;
  color: white;
}

.transformations-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.transformations-container {
  display: flex;
  flex-wrap: wrap; /* Permite que las tarjetas pasen a la siguiente fila si no hay espacio */
  gap: 20px; /* Espaciado entre las tarjetas */
  justify-content: center; /* Centra las tarjetas horizontalmente */
}

.transformation-card {
  background: rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 200px; /* Ancho fijo para las tarjetas */
  height: 320px; /* Altura fija igual a la tarjeta de detalles */
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Distribuye el contenido verticalmente */
  align-items: center;
}

.transformation-image {
  width: 100%;
  height: 200px; /* Altura fija para las imágenes */
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: none;
}

.transformation-image img {
  width: 100%;
  height: 100%;
  object-fit: contain; 
  transition: transform 0.4s ease;
  border-radius: 8px;
}

.transformation-image:hover img {
  transform: scale(1.3);
}

.transformation-data {
  margin-top: 10px;
  text-align: center;
}

.transformation-name {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.transformation-ki {
  font-size: 14px;
  color: white;
}
