header {
  font-family: fantasy;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  display: flex;
  background: linear-gradient(to left, gold, orange,red);

}

h2{
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff;

}
h2:hover {

  text-shadow: 0 0 5px rgb(226, 19, 19), 0 0 10px rgb(226, 19, 19), 0 0 15px rgb(226, 19, 19);
}

.logo-db {
  width: 80%;
  max-width: 340px;
 
}

@media (max-width: 450px) { 
  header {
    padding: 10px;
  }
}