ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul .item {
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: brown;
    border-radius: 4px;
    padding: 8px 12px; 
    text-decoration: none;
    margin-top: 15px; 
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul .item:hover {
    background-color: white;
    color: brown;
}

.item.active {
    color: white;
    border-radius: 5px;
    background-image: linear-gradient(to right, red, gold);
}

.item.active:hover {
    color: white;
}


@media (max-width: 768px) {
    ul {
        flex-direction: column; 
        align-items: center;
    }

    nav ul .item {
        font-size: 1rem; 
        padding: 6px 10px; 
        width: 80%; /* Los botones ocupan el 80% del ancho */
        text-align: center; 
    }

    nav ul .item:hover {
        background-color: white;
        color: brown;
    }
}